<div ng-include="'components/navbar/navbar.html'"></div>
<div class = "SortFullNameCtrl">

  <ul>
    <button ng-click="displayLastNames()">Sort by Last Name</button>
    <button ng-click="displayFirstNames()">Sort by First Name</button>
     <table ng-hide="myVar" border="1" style="width:45%">
       <tr>
         <th>Last Name</th>
         <th>First Name</th>
       </tr>
      <tr ng-repeat="student in studentsInfo | orderBy : 'lastName'">
        <td>{{ student.lastName}}</td>
        <td>{{ student.firstName }}</td>
        <td>{{student.major1}}</td>
        <td>{{student.major2}}</td>
      </tr>
    </table>


     <table ng-hide="myVar2" border="1" style="width:45%">
       <tr>
         <th>First Name</th>
         <th>Last Name</th>
       </tr>
       <tr ng-repeat="student in studentsInfo | orderBy : 'firstName'">
         <td>{{ student.firstName}}</td>
         <td>{{ student.lastName }}</td>
       </tr>
     </table>

  </ul>

</div>

